.circle-purple-light {
  position: absolute;
  border-radius: 50%;
  width: 259px;
  height: 259px;
  left: calc((100vw - 1440px) / 2 + 602px);
  top: -154px;
  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
}

.circle-purple-ball {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: calc((100vw - 1440px) / 2 + 868px);
  top: -2px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.circle-red-ball {
  position: absolute;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  left: calc((100vw - 1440px) / 2 + 519px);
  top: 83px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

.circle-little_red-ball {
  position: absolute;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  left: calc((100vw - 1440px) / 2 + 851px);
  top: 547px;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

.circle-red-light {
  position: absolute;
  border-radius: 50%;
  width: 311px;
  height: 311px;
  left: calc((100vw - 1440px) / 2 - 102px);
  top: 251px;
  background: #961A1A;
  opacity: 0.5;
  filter: blur(196px);
}

@media screen and (max-width: 1439px) {
  .circle-purple-light {
    left: 602px;
  }
  .circle-purple-ball {
    left: 868px;
  }
  .circle-red-ball {
    left: 519px;
  }
  .circle-little_red-ball {
    left: 851px;
  }
  .circle-red-light {
    left: -102px;
  }
}

@media screen and (max-width: 500px) {
  .circle-purple-light {
    left: calc((100vw - 320px) / 2 + 258px);
    top: 162px;
  }

  .circle-purple-ball {
    width: 40px;
    height: 40px;
    left: calc((100vw - 320px) / 2 + 296px);
    top: 291px;
  }

  .circle-red-ball {
    width: 43px;
    height: 43px;
    left: calc((100vw - 320px) / 2 + 29px);
    top: 458px;
  }

  .circle-little_red-ball {
    width: 18px;
    height: 18px;
    left: calc((100vw - 320px) / 2 + 278px);
    top: 618px;
  }

  .circle-red-light {
    width: 211px;
    height: 210px;
    left: calc((100vw - 320px) / 2 - 55px);
    top: 296px;
  }

  .circle-yellow-light {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: calc((100vw - 320px) / 2 - 66px);
    top: 519px;
    background: #FCB045;
    opacity: 0.4;
    filter: blur(196px);
  }
}



@media screen and (max-width: 320px) {
  .circle-purple-light {
    left: 258px;
  }

  .circle-purple-ball {
    left: 296px;
  }

  .circle-red-ball {
    left: 29px;
  }

  .circle-little_red-ball {
    left: 278px;
  }

  .circle-red-light {
    left: -55px;
  }

  .circle-yellow-light {
    left: -66px;
  }
}
